html, body { height: 100%; }

.text-hidden { color: transparent; }

.swiper-container-horizontal > .swiper-pagination { bottom: 30px; }

.swiper-button-prev { width: 38px; height: 45px; left: 0; background: url("../images/sprite.png") 0 -32px no-repeat; background-size: 300px 500px; }

.swiper-button-next { width: 38px; height: 45px; right: 0; background: url("../images/sprite.png") -48px -32px no-repeat; background-size: 300px 500px; }

.swiper-pagination { text-align: center; }
.swiper-pagination::after { display: block; content: ""; position: absolute; top: 0; width: 100%; height: 40px; background: #312d22; opacity: 0.7; }

.swiper-pagination-bullet { position: relative; z-index: 10; width: 11px; height: 11px; background: #f8f8f8; border: 1px solid #f8f8f8; opacity: 1; }

.swiper-pagination-bullet.swiper-pagination-bullet-active { width: 11px; height: 11px; background: #f08200; border: 1px solid #f08200; border-radius: 20px; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet { margin: 0 3px; }

.swiper-container-horizontal > .swiper-pagination { bottom: 0px; right: 0px; }

.swiper-container-horizontal > .swiper-pagination { width: auto; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: 0; }

aside.gnb { display: none; position: absolute; top: 15px; right: 0; width: 93%; height: 100%; padding: 0 3.5%; z-index: 1000; }
aside.gnb a { color: #fff; }
aside.gnb .gnb-header { overflow: hidden; }
aside.gnb .gnb-header h1 { float: left; width: 128px; height: 20px; background: url("../images/gnb-logo.png") no-repeat; background-size: 128px 20px; }
aside.gnb .gnb-header .close-btn { display: block; float: right; width: 17px; height: 17px; background: url("../images/sprite.png") no-repeat -4px -158px; background-size: 300px 500px; }
aside.gnb .userinfo { overflow: hidden; clear: both; margin: 37px 0 9px; }
aside.gnb .userinfo a { display: table; float: left; text-align: center; font-size: 70%; }
aside.gnb .userinfo .home-btn { width: 18px; height: 18px; background: url("../images/sprite.png") no-repeat -49px -158px; background-size: 300px 500px; }
aside.gnb .userinfo .btns { float: right; }
aside.gnb .userinfo .btns .login-btn { width: 84px; height: 23px; background: #121212; }
aside.gnb .userinfo .btns .login-btn span { display: table-cell; vertical-align: middle; opacity: 0.8; }
aside.gnb .userinfo .btns .join-btn { width: 84px; height: 23px; background: #121212; }
aside.gnb .userinfo .btns .join-btn span { display: table-cell; vertical-align: middle; opacity: 0.8; }
aside.gnb > ul.navi { clear: both; height: 100%; }
aside.gnb > ul.navi a { display: block; }
aside.gnb > ul.navi > li.active { padding: 0; background: #121212; }
aside.gnb > ul.navi > li.active > a { padding: 19px 0 14px 3.5%; border-left: 3px solid #f08200; color: #f08200; }
aside.gnb > ul.navi > li { padding: 19px 0 16px; border-bottom: 1px solid #6f6c65; }
aside.gnb > ul.navi > li > a { font-size: 100%; }
aside.gnb > ul.navi > li > ul > li { border-top: 1px solid #2a2a2a; }
aside.gnb > ul.navi > li > ul > li > a { padding: 12px 0 12px 6%; font-size: 75%; }
aside.gnb > ul.navi li:first-child { border-top: 1px solid #6f6c65; }

.dim { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #312d22; z-index: 600; }

.header_wrap { position: relative; height: 32px; }
.header_wrap header { overflow: hidden; position: fixed; width: 100%; height: 32px; padding: 15px 13px 0; background: #fff; z-index: 500; }
.header_wrap header .logo { float: left; width: 118px; height: 25px; }
.header_wrap header .logo a { display: block; }
.header_wrap header .logo img { width: 100%; }
.header_wrap header .gnb_btn { display: block; float: right; width: 17px; height: 12px; margin-right: 20px; padding: 7px; background: url("../images/sprite.png") no-repeat 3px 0px; background-size: 300px 500px; }

.main-slide { position: relative; width: 100%; }
.main-slide .swiper-slide img { width: 100%; }

.main-content-menu { overflow: hidden; border-bottom: 1px solid #bdb5a0; }
.main-content-menu ul li { float: left; width: 25%; text-align: center; }

.main-tab { overflow: hidden; position: relative; margin-top: 16px; border-bottom: 1px solid #bdb5a0; }
.main-tab .tabMenu { position: relative; width: 100%; font-size: 12px; }
.main-tab .tabMenu li { float: left; width: 50%; min-height: 34px; text-align: center; background-size: contain; background-repeat: no-repeat; background-position: center center; border-bottom: 1px solid #dadada; box-sizing: border-box; }
.main-tab .tabMenu li a { display: block; }
.main-tab .tabMenu .menu1 { background-image: url("../images/main-tab-title01.gif"); }
.main-tab .tabMenu .menu2 { background-image: url("../images/main-tab-title02.gif"); }
.main-tab .tabMenu .menu1.on { background-image: url("../images/main-tab-title01_on.gif"); border-bottom: 3px solid #f08200; }
.main-tab .tabMenu .menu2.on { background-image: url("../images/main-tab-title02_on.gif"); border-bottom: 3px solid #f08200; }
.main-tab .tab-content { clear: both; }
.main-tab .tab-content .swiper-slide { text-align: center; }
.main-tab .tab-content .swiper-button-prev { margin-top: -21px; background-position: 0 -93px; }
.main-tab .tab-content .swiper-button-next { margin-top: -21px; background-position: -37px -93px; }
.main-tab .tabMenu2 { display: none; }

.today .today-slide { clear: both; }
.today .today-slide .text-btn_box { position: absolute; right: 0; z-index: 10; width: 37.8%; height: 100%; background: url("../images/today_bg.png") no-repeat; background-size: cover; }
.today .today-slide .text-btn_box .text_box { padding-left: 10%; text-align: left; letter-spacing: -1px; color: #fff; }
.today .today-slide .text-btn_box .text_box h4 { margin: 23% 0 6%; font-size: 5.5vw; }
.today .today-slide .text-btn_box .text_box h4:before { content: ""; display: block; width: 13%; height: 1.5px; margin-bottom: 8px; background: #f08200; }
.today .today-slide .text-btn_box .text_box .text { display: block; margin-bottom: 5px; font-size: 3vw; }
.today .today-slide .text-btn_box .btns { overflow: hidden; position: absolute; bottom: 0; width: 100%; }
.today .today-slide .text-btn_box .btns .swiper-button-prev { float: left; position: static; top: 52.3%; width: 33%; height: 33%; margin-top: 0; background: none; }
.today .today-slide .text-btn_box .btns .plus_btn { float: left; position: static; top: 47.5%; left: 33.5%; z-index: 10; width: 33%; height: 33%; margin-left: 0.5%; background: none; }
.today .today-slide .text-btn_box .btns .swiper-button-next { float: right; position: static; top: 54.5%; width: 33%; height: 33%; margin-top: 0; background: none; }
.today .today-slide .text-btn_box .btns img { width: 100%; }
.today .today-slide .swiper-slide img { width: 100%; }

.main-top { overflow: hidden; position: relative; padding: 17px 4% 0; background: #f7f7f7; border-top: 1px solid #bdb5a0; }
.main-top h3 { float: left; width: 45.3%; height: 30%; }
.main-top .more_btn { position: absolute; right: 4%; bottom: 10%; width: 64px; height: 17px; padding: 10px; padding-right: 0; background: url("../images/sprite.png") no-repeat -134px 13px; background-size: 450px 750px; }

.notice { margin: 13px 0; }
.notice ul { padding: 0 4%; }
.notice ul li { display: table; width: 100%; padding: 3% 0; border-bottom: 1px solid #e9e9e9; }
.notice ul li .icon { display: table-cell; width: 38px; height: 23px; background: url("../images/sprite.png") no-repeat; background-size: 450px 750px; }
.notice ul li .guide_icon { background-position: -231px 0; }
.notice ul li .discount_icon { background-position: -283px 0; }
.notice ul li .text { display: table-cell; padding-left: 3%; vertical-align: middle; letter-spacing: -1px; font-size: 80%; }
.notice ul li .orange { color: #f47920; }
.notice ul li:after { clear: both; content: ""; display: block; }

.vivi-site .video { width: 92%; height: 170px; padding: 0 4%; }
.vivi-site .video a { display: block; }
.vivi-site .sns_link { overflow: hidden; width: 167px; margin: 28px auto 15px; }
.vivi-site .sns_link li { float: left; width: 38px; height: 38px; margin-left: 5px; background: url("../images/sprite.png") no-repeat; background-size: 450px 750px; }
.vivi-site .sns_link li a { display: block; text-indent: -9999px; }
.vivi-site .sns_link .facebook { margin-left: 0; background-position: -140px -147px; }
.vivi-site .sns_link .twitter { background-position: -185px -147px; }
.vivi-site .sns_link .blog { background-position: -230px -147px; }
.vivi-site .sns_link .kakaostory { background-position: -275px -147px; }

footer { overflow: hidden; padding: 22px 3.5% 30px; background: #312d22; color: #fff; }
footer .footer_link { display: table; overflow: hidden; width: 100%; font-size: 70%; border-collapse: collapse; }
footer .footer_link li { display: table-cell; width: 31%; height: 30px; margin-left: -1px; text-align: center; background: #766341; box-sizing: border-box; vertical-align: middle; }
footer .footer_link li a { color: #fff; }
footer .footer_link2 { overflow: hidden; margin: 20px 0 15px; font-size: 70%; opacity: 0.9; }
footer .footer_link2 li { float: left; }
footer .footer_link2 li a { color: #fff; }
footer .footer_link2 .terms { margin-left: 7px; }
footer .address-wrap { float: left; font-size: 70%; opacity: 0.9; }
footer .foot-logo { display: block; float: right; width: 54px; height: 33px; margin: 10px 5px 0 0; background: url("../images/foot-logo.png") no-repeat; background-size: 100%; text-indent: -9999px; }

/*# sourceMappingURL=index.css.map */
