//640px
@media all and (min-width:640px){
  .swiper-button-prev{width:76px; height:90px; background-position:0 -62px; background-size: 600px 1000px;}
  .swiper-button-next{width:76px; height:90px; background-position:-96px -62px; background-size: 600px 1000px;}
}