@charset "UTF-8";
html, body { height: 100%; }

.text-hidden { color: transparent; }

.swiper-container-horizontal > .swiper-pagination { bottom: 30px; }

.swiper-button-prev { width: 38px; height: 45px; left: 0; background: url("/mobile/images/common/sprite.png") 0 -32px no-repeat; background-size: 300px 500px; }

.swiper-button-next { width: 38px; height: 45px; right: 0; background: url("/mobile/images/common/sprite.png") -48px -32px no-repeat; background-size: 300px 500px; }

.swiper-pagination { text-align: center; }
.swiper-pagination::after { display: block; content: ""; position: absolute; top: 0; width: 100%; height: 40px; background: #312d22; opacity: 0.7; }

.swiper-pagination-bullet { position: relative; z-index: 10; width: 11px; height: 11px; background: #f8f8f8; border: 1px solid #f8f8f8; opacity: 1; }

.swiper-pagination-bullet.swiper-pagination-bullet-active { width: 11px; height: 11px; background: #f08200; border: 1px solid #f08200; border-radius: 20px; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet { margin: 0 3px; }

.swiper-container-horizontal > .swiper-pagination { bottom: 0px; right: 0px; }

.swiper-container-horizontal > .swiper-pagination { width: auto; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: 0; }

aside.gnb { display: none; position: absolute; top: 15px; right: 0; width: 93%; height: 100%; padding: 0 3.5%; z-index: 1000; }
aside.gnb a { color: #fff; }
aside.gnb .gnb-header { overflow: hidden; }
aside.gnb .gnb-header h1 { float: left; width: 128px; height: 20px; background: url("/mobile/images/common/gnb-logo.png") no-repeat; background-size: 128px 20px; }
aside.gnb .gnb-header .close-btn { display: block; float: right; width: 17px; height: 17px; background: url("/mobile/images/common/sprite.png") no-repeat -4px -158px; background-size: 300px 500px; }
aside.gnb .userinfo { overflow: hidden; clear: both; margin: 37px 0 9px; }
aside.gnb .userinfo a { display: table; float: left; text-align: center; font-size: 1em; }
aside.gnb .userinfo .home-btn { width: 18px; height: 18px; background: url("/mobile/images/common/sprite.png") no-repeat -49px -158px; background-size: 300px 500px; }
aside.gnb .userinfo .btns { float: right; }
aside.gnb .userinfo .btns .login-btn { width: 84px; height: 23px; margin-right: 7px; background: #121212; }
aside.gnb .userinfo .btns .login-btn span { display: table-cell; vertical-align: middle; opacity: 0.8; font-size: 1.2em; }
aside.gnb .userinfo .btns .join-btn { width: 84px; height: 23px; background: #121212; }
aside.gnb .userinfo .btns .join-btn span { display: table-cell; vertical-align: middle; opacity: 0.8; font-size: 1.2em; }
aside.gnb > ul.navi { clear: both; }
aside.gnb > ul.navi a { display: block; }
aside.gnb > ul.navi > li.active { padding: 0; background: #121212; }
aside.gnb > ul.navi > li.active > a { padding: 19px 0 14px 12px; border-left: 3px solid #f08200; color: #f08200; }
aside.gnb > ul.navi > li.active > a:after { background: url("/mobile/images/common/sprite.png") no-repeat -91px -162px; background-size: 300px 500px; }
aside.gnb > ul.navi > li { border-bottom: 1px solid #6f6c65; }
aside.gnb > ul.navi > li > a { padding: 19px 0 16px; font-size: 1.6em; }
aside.gnb > ul.navi > li > a:after { display: block; float: right; width: 10px; height: 6px; margin: 6px 2% 0 0; content: ""; background: url("/mobile/images/common/sprite.png") no-repeat -128px -162px; background-size: 300px 500px; }
aside.gnb > ul.navi > li > ul > li { border-top: 1px solid #2a2a2a; }
aside.gnb > ul.navi > li > ul > li a { padding: 12px 0 12px 19px; font-size: 1.2em; }
aside.gnb > ul.navi > li > ul > li a:after { display: block; float: left; width: 5px; height: 6px; margin: 4px 5px 0 0; content: ""; background: url("/mobile/images/common/sprite.png") no-repeat -167px -163px; background-size: 300px 500px; }
aside.gnb > ul.navi > li > ul > li.active { padding: 0; }
aside.gnb > ul.navi > li > ul > li.active a:after { display: block; float: left; width: 5px; height: 6px; margin: 4px 5px 0 0; content: ""; background: url("/mobile/images/common/sprite.png") no-repeat -197px -163px; background-size: 300px 500px; }
aside.gnb > ul.navi li.menu08 a:after { background: none; }
aside.gnb > ul.navi li:first-child { border-top: 1px solid #6f6c65; }
aside.gnb footer { padding-left: 0; padding-right: 0; }

.dim { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #312d22; z-index: 600; }

.header_wrap { position: relative; }
.header_wrap header { overflow: hidden; position: fixed; width: 93%; padding: 2.8% 3.5%; background: #fff; z-index: 500; }
.header_wrap header .logo { float: left; width: 44%; padding-top: 4px; font-size: 0; }
.header_wrap header .logo a { display: block; }
.header_wrap header .gnb_btn { display: block; float: right; width: 6%; margin-left: -7px; padding: 7px; }

.main-slide { position: relative; width: 100%; }
.main-slide .swiper-slide img { width: 100%; }
.main-slide .swiper-pagination { padding: 3px 0; }

.main-content-menu { overflow: hidden; border-bottom: 1px solid #bdb5a0; }
.main-content-menu ul li { float: left; width: 25%; text-align: center; }

.main-tab { overflow: hidden; position: relative; margin-top: 16px; }
.main-tab .tabMenu { overflow: hidden; position: relative; width: 100%; }
.main-tab .tabMenu li { float: left; width: 46.1%; text-align: center; background-size: contain; background-repeat: no-repeat; background-position: left center; box-sizing: border-box; }
.main-tab .tabMenu li a { display: block; }
.main-tab .tabMenu li:first-child { margin-left: 3.9%; background-position: right center; }
.main-tab .tabMenu .menu1 { background-image: url("/mobile/images/index/main-tab-title01.gif"); }
.main-tab .tabMenu .menu2 { background-image: url("/mobile/images/index/main-tab-title02.gif"); }
.main-tab .tabMenu .menu1.on { background-image: url("/mobile/images/index/main-tab-title01_on.gif"); }
.main-tab .tabMenu .menu2.on { background-image: url("/mobile/images/index/main-tab-title02_on.gif"); }
.main-tab .tab-content { clear: both; margin-bottom: 15px; }
.main-tab .tab-content .swiper-slide { text-align: center; }
.main-tab .tab-content .swiper-button-prev { margin-top: -21px; background-position: 0 -93px; }
.main-tab .tab-content .swiper-button-next { margin-top: -21px; background-position: -37px -93px; }
.main-tab .tabMenu2 { display: none; }

.main-top { overflow: hidden; position: relative; padding: 17px 4% 17px; background: #f7f7f7; border-top: 1px solid #bdb5a0; }
.main-top h3 { float: left; font-size: 0; }
.main-top .more_btn { position: absolute; right: 3.5%; bottom: 2px; width: 32px; height: 17px; padding: 10px; padding-right: 0; background: url("/mobile/images/common/sprite.png") no-repeat -97px 14px; background-size: 300px 500px; }

.today h3 { width: 148px; }
.today .today-slide { clear: both; }
.today .today-slide > .text-btn_box { position: absolute; right: 0; z-index: 10; width: 37.8%; height: 100%; background: url("/mobile/images/index/today_bg.png") no-repeat; background-size: cover; }
.today .today-slide > .text-btn_box .text_box { position: absolute; padding-left: 15%; text-align: left; color: #fff; }
.today .today-slide > .text-btn_box .text_box h4 { margin: 23% 0 6%; font-size: 5.5vw; }
.today .today-slide > .text-btn_box .text_box h4:before { content: ""; display: block; width: 13%; height: 1.5px; margin-bottom: 8px; background: #f08200; }
.today .today-slide > .text-btn_box .text_box .text { display: block; margin-bottom: 4px; font-size: 3vw; }
.today .today-slide > .text-btn_box .btns { overflow: hidden; position: absolute; bottom: 0; width: 100%; }
.today .today-slide > .text-btn_box .btns .swiper-button-prev { float: left; position: static; top: 52.3%; width: 33%; height: 33%; margin-top: 0; background: none; }
.today .today-slide > .text-btn_box .btns .plus_btn { float: left; position: static; top: 47.5%; left: 33.5%; z-index: 10; width: 33%; height: 33%; margin-left: 0.5%; background: none; }
.today .today-slide > .text-btn_box .btns .plus_btn a { display: block; }
.today .today-slide > .text-btn_box .btns .swiper-button-next { float: right; position: static; top: 54.5%; width: 33%; height: 33%; margin-top: 0; background: none; }
.today .today-slide > .text-btn_box .btns img { width: 100%; }
.today .today-slide .swiper-slide img { width: 100%; }
.today .today-slide .swiper-slide .text-btn_box { position: absolute; right: 0; z-index: 10; width: 37.8%; height: 100%; }
.today .today-slide .swiper-slide .text-btn_box .text_box { display: none; }

.notice { margin: 13px 0; }
.notice h3 { width: 148px; }
.notice ul { padding: 0 4%; }
.notice ul li { display: table; width: 100%; padding: 3% 0; border-bottom: 1px solid #e9e9e9; }
.notice ul li .icon { display: table-cell; width: 25px; height: 15px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; }
.notice ul li .guide_icon { background-position: -154px 0; }
.notice ul li .discount_icon { background-position: -189px 0; }
.notice ul li .text { display: table-cell; padding-left: 3%; vertical-align: middle; letter-spacing: -1px; font-size: 1.15em; }
.notice ul li .orange { color: #f47920; }
.notice ul li:after { clear: both; content: ""; display: block; }
.notice ul li:last-child { border-bottom: 0; }

.vivi-site h3 { width: 173px; }
.vivi-site .video { width: 92%; height: 170px; padding: 0 4%; }
.vivi-site .video a { display: block; }

footer { overflow: hidden; margin-top: 25px; padding: 15px 3.5% 30px; background: #312d22; color: #fff; font-size: 1em; }
footer .sns_link { overflow: hidden; width: 115px; margin: 0 auto 15px; }
footer .sns_link li { float: left; width: 25px; height: 25px; margin-left: 5px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; }
footer .sns_link li a { display: block; height: 100%; text-indent: -9999px; }
footer .sns_link .facebook { margin-left: 0; background-position: -94px -98px; }
footer .sns_link .twitter { background-position: -124px -98px; }
footer .sns_link .blog { background-position: -154px -98px; }
footer .sns_link .kakaostory { background-position: -184px -98px; }
footer .footer_link { overflow: hidden; width: 100%; font-size: 1.1em; }
footer .footer_link li { display: inline-block; float: left; width: 33%; margin-left: 0.5%; padding: 15px 0; text-align: center; background: #766341; line-height: 0; }
footer .footer_link li a { color: #fff; }
footer .footer_link li:first-child { margin: 0; }
footer .footer_link2 { overflow: hidden; margin: 20px 0 15px; opacity: 0.9; }
footer .footer_link2 li { float: left; }
footer .footer_link2 li a { color: #fff; }
footer .footer_link2 .terms { margin-left: 7px; }
footer .address-wrap { float: left; opacity: 0.9; }
footer .foot-logo { display: block; float: right; width: 54px; height: 33px; margin: 10px 5px 0 0; background: url("/mobile/images/common/foot-logo.png") no-repeat; background-size: 100%; text-indent: -9999px; }

/*-------------------------------------------------------- index-page end ----------------------------------------------------------------- */
/*-------------------------------------------------------- sub-page start ----------------------------------------------------------------- */
.header_title_slide { position: relative; margin-bottom: 23px; border-bottom: 1px solid #312d22; }
.header_title_slide > h2 { padding: 10px 0; background: #312d22; font-size: 1.5em; text-indent: 3.5%; color: #fff; }
.header_title_slide .title { height: 24px; padding: 9px 3.5% 0; background: #312d22; color: #fff; }
.header_title_slide .title > h2 { float: left; margin-top: -1px; font-size: 1.5em; letter-spacing: -1px; }
.header_title_slide .title aside { float: right; position: relative; }
.header_title_slide .title aside h2 { float: left; font-size: 1.2em; }
.header_title_slide .title aside h2 .icon { display: block; float: right; width: 16px; height: 16px; margin: 0 0 0 8px; background: url("/mobile/images/common/sprite.png") no-repeat -199px -208px; background-size: 300px 500px; }
.header_title_slide .title aside h2 .icon.on { display: block; float: right; width: 16px; height: 16px; margin: 0 0 0 8px; background: url("/mobile/images/common/sprite.png") no-repeat -239px -208px; background-size: 300px 500px; }
.header_title_slide .title aside .menu { display: none; position: absolute; top: 24px; right: -20%; z-index: 50; width: 150%; padding: 9px 0; text-indent: 15%; background: #e8aa00; }
.header_title_slide .title aside .menu li { display: table; width: 100%; height: 25px; font-size: 65%; text-indent: 20px; }
.header_title_slide .title aside .menu li a { display: table-cell; vertical-align: middle; color: #fff; }
.header_title_slide .title aside .menu li a:focus { background: #766341; color: #e8aa00; }
.header_title_slide .title aside .menu::before { content: ""; display: block; position: absolute; top: -7px; left: 43%; width: 13px; height: 9px; background: url("/mobile/images/common/sprite.png") no-repeat -92px -264px; background-size: 300px 500px; }
.header_title_slide .title aside::after { content: ""; display: block; clear: both; }
.header_title_slide .slick-slider.multiple-items { width: 87%; margin: 0 auto; height: 37px; padding: 11px 0 0; font-size: 1.1em; }
.header_title_slide .slick-slider.multiple-items .slick-list { overflow: hidden; }
.header_title_slide .slick-slider.multiple-items .slick-list .slick-slide { text-align: center; }
.header_title_slide .slick-slider.multiple-items .slick-list .slick-active { border-left: 1px solid #bdb5a0; margin: 0; }
.header_title_slide .slick-slider.multiple-items .slick-list .slick-current { border: 0; color: #f08200; margin: 0; }
.header_title_slide .slick-slider.multiple-items .slick-arrow { border: 0; position: absolute; top: 10px; width: 5px; height: 8px; padding: 7px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; text-indent: -9999px; z-index: 10; }
.header_title_slide .slick-slider.multiple-items .slick-prev { left: -7%; margin-left: 3.5%; background-position: -225px -158px; }
.header_title_slide .slick-slider.multiple-items .slick-next { right: -7%; margin-right: 3.5%; background-position: -250px -158px; }
.header_title_slide .slick-slider.single-items { width: 87%; margin: 0 auto; padding: 12px 0 12px; font-size: 1.1em; }
.header_title_slide .slick-slider.single-items .slick-list { overflow: hidden; }
.header_title_slide .slick-slider.single-items .slick-list .slick-slide { text-align: center; }
.header_title_slide .slick-slider.single-items .slick-list .slick-active { border-left: 1px solid #bdb5a0; margin: -1px; }
.header_title_slide .slick-slider.single-items .slick-list .slick-current { border: 0; color: #f08200; margin: 0; }
.header_title_slide .slick-slider.single-items .slick-arrow { border: 0; position: absolute; top: 12px; width: 5px; height: 8px; padding: 7px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; text-indent: -9999px; z-index: 10; }
.header_title_slide .slick-slider.single-items .slick-prev { left: -7%; margin-left: 3.5%; background-position: -225px -158px; }
.header_title_slide .slick-slider.single-items .slick-next { right: -7%; margin-right: 3.5%; background-position: -250px -158px; }

.contents { padding: 0 3.5%; }

.detail-content { overflow: hidden; }

.detail-show .detail-head { overflow: hidden; margin-bottom: 30px; }
.detail-show .detail-head h3 { float: left; width: 42%; font-size: 2.25em; color: #333; font-weight: bold; }
.detail-show .detail-head .text-box { float: right; width: 58%; color: #000; letter-spacing: -0.05em; }
.detail-show .detail-head .text-box .text { display: block; font-size: 1.1em; }
.detail-show .detail-head .text-box .show-time { float: left; margin-top: 11px; font-size: 1em; }
.detail-show .detail-head .text-box .show-time .icon { display: block; float: left; width: 14px; height: 14px; margin-top: -1px; margin-right: 8px; background: url("/mobile/images/common/sprite.png") no-repeat -118px -209px; background-size: 300px 500px; }
.detail-show .detail-head .text-box .show-time .text { float: left; }
.detail-show .detail-head .text-box .show-time .text .time { color: #666; }
.detail-show .detail-head .text-box .show-time .text .line { display: inline-block; width: 1px; height: 5px; margin: -4px 11px 0; background: #999; vertical-align: middle; }

.detail-guide .detail-head { overflow: hidden; margin-bottom: 30px; }
.detail-guide .detail-head h3 { float: left; width: 42%; font-size: 2.25em; color: #333; font-weight: bold; }
.detail-guide .detail-head .text-box { float: right; width: 58%; color: #000; letter-spacing: -0.05em; }
.detail-guide .detail-head .text-box .text { display: block; font-size: 1.2em; }
.detail-guide .detail-head .text-box .text::before { content: ""; display: block; float: left; width: 15px; height: 15px; margin-top: 1px; margin-right: 8px; background: url("/mobile/images/common/sprite.png") no-repeat -158px -208px; background-size: 300px 500px; }
.detail-guide .detail-head .text-box .text02 { display: block; padding: 1px 0; font-size: 1.2em; letter-spacing: -1.5px; }
.detail-guide .detail-head .text-box .guide-time { display: block; margin-top: 11px; margin-left: 23px; font-size: 1.1em; color: #f08200; letter-spacing: 0; }
.detail-guide .detail-head .text-box .guide-time .text { display: block; }
.detail-guide .detail-head .text-box .guide-time .time { color: #666; }
.detail-guide .detail-head02 { margin-top: 45px; }

.detail-member .detail-head { overflow: hidden; margin-bottom: 30px; }
.detail-member .detail-head h3 { float: left; width: 42%; font-size: 2.25em; color: #333; font-weight: bold; }
.detail-member .detail-head .text-box { float: right; width: 58%; color: #000; letter-spacing: -0.05em; }
.detail-member .detail-head .text-box .text { display: block; font-size: 1.1em; }
.detail-member .detail-head .text-box .guide-time { display: block; margin-top: 11px; margin-left: 23px; font-size: 65%; color: #f08200; }
.detail-member .detail-head .text-box .guide-time .text { display: block; }
.detail-member .detail-head .text-box .guide-time .time { color: #666; }

.detail-discount .detail-head { overflow: hidden; margin-bottom: 30px; }
.detail-discount .detail-head h3 { width: 42%; margin-bottom: 12px; font-size: 2.25em; color: #333; font-weight: bold; }
.detail-discount .detail-head .text { display: block; font-size: 1.1em; color: #000; letter-spacing: -0.05em; }

.detail-folk .detail-head { overflow: hidden; }
.detail-folk .detail-head h3 { margin-bottom: 12px; font-size: 2.25em; color: #333; font-weight: bold; }
.detail-folk .detail-head .text { display: block; font-size: 1.2em; color: #000; line-height: 1.5em; letter-spacing: -0.05em; }

.content-head { position: relative; margin-bottom: 25px; }
.content-head img { width: 100%; }
.content-head .pdf-down { display: block; position: absolute; right: 0; bottom: 0; width: 14%; height: 24%; }
.content-head map { position: absolute; top: 0; left: 0; }

.pre-infor-tab { margin-top: 28px; }
.pre-infor-tab .title { overflow: hidden; padding: 10px 15px; border-top: 2px solid #f08200; border-bottom: 1px solid #bdb5a0; }
.pre-infor-tab .title h3 { float: left; font-size: 1.75em; line-height: 110%; }
.pre-infor-tab .title .icon { display: block; float: right; width: 10px; height: 6px; margin-top: 6px; background: url("/mobile/images/common/sprite.png") no-repeat -55px -264px; background-size: 300px 500px; }
.pre-infor-tab .title .icon.on { display: block; float: right; width: 10px; height: 6px; margin-top: 6px; background: url("/mobile/images/common/sprite.png") no-repeat -15px -264px; background-size: 300px 500px; }
.pre-infor-tab .content { display: none; padding: 18px 0; border-bottom: 1px solid #bdb5a0; }

.main-tab.traffic { overflow: hidden; position: relative; }
.main-tab.traffic .tabMenu { overflow: hidden; position: relative; width: 100%; margin-bottom: 30px; }
.main-tab.traffic .tabMenu li { float: left; width: 50%; text-align: center; background-size: contain; background-repeat: no-repeat; background-position: left center; box-sizing: border-box; }
.main-tab.traffic .tabMenu li a { display: block; }
.main-tab.traffic .tabMenu li:first-child { margin-left: 0; background-position: right center; }
.main-tab.traffic .tabMenu .menu1 { background-image: url("/mobile/images/information/traffic-tab-title01.gif"); }
.main-tab.traffic .tabMenu .menu2 { background-image: url("/mobile/images/information/traffic-tab-title02.gif"); }
.main-tab.traffic .tabMenu .menu1.on { background-image: url("/mobile/images/information/traffic-tab-title01_on.gif"); }
.main-tab.traffic .tabMenu .menu2.on { background-image: url("/mobile/images/information/traffic-tab-title02_on.gif"); }
.main-tab.traffic .tab-content { clear: both; margin-bottom: 15px; }
.main-tab.traffic .tabMenu2 { display: none; }

.main-tab.map { overflow: hidden; position: relative; }
.main-tab.map .tabMenu { overflow: hidden; position: relative; width: 100%; margin-bottom: 30px; }
.main-tab.map .tabMenu li { float: left; width: 25%; text-align: center; background-size: cover; background-repeat: no-repeat; background-position: left center; box-sizing: border-box; }
.main-tab.map .tabMenu li h3 a { display: block; }
.main-tab.map .tabMenu li h3 a img { width: 100%; }
.main-tab.map .tabMenu li:first-child { margin-left: 0; background-position: right center; }
.main-tab.map .tabMenu .menu1 { background-image: url("/mobile/images/information/map-tab-title01.png"); }
.main-tab.map .tabMenu .menu2 { background-image: url("/mobile/images/information/map-tab-title02.png"); }
.main-tab.map .tabMenu .menu3 { background-image: url("/mobile/images/information/map-tab-title03.png"); }
.main-tab.map .tabMenu .menu4 { background-image: url("/mobile/images/information/map-tab-title04.png"); }
.main-tab.map .tabMenu .menu1.on { background-image: url("/mobile/images/information/map-tab-title01_on.png"); }
.main-tab.map .tabMenu .menu2.on { background-image: url("/mobile/images/information/map-tab-title02_on.png"); }
.main-tab.map .tabMenu .menu3.on { background-image: url("/mobile/images/information/map-tab-title03_on.png"); }
.main-tab.map .tabMenu .menu4.on { background-image: url("/mobile/images/information/map-tab-title04_on.png"); }
.main-tab.map .tab-content { clear: both; text-align: center; margin-bottom: 15px; }
.main-tab.map .tabMenu2, .main-tab.map .tabMenu3, .main-tab.map .tabMenu4 { display: none; }

.preview-slide-wrap { margin-top: 25px; }
.preview-slide-wrap .preview-slide img { width: 100%; }
.preview-slide-wrap .preview-slide .slick-arrow { display: inline-block; position: absolute; z-index: 10; top: 40%; width: 26px; height: 26px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; border: 0; text-indent: -9999px; }
.preview-slide-wrap .preview-slide .slick-prev { left: 8px; background-position: -9px -206px; }
.preview-slide-wrap .preview-slide .slick-next { right: 8px; background-position: -61px -206px; }
.preview-slide-wrap .preview-slide .slick-dots { padding-top: 10px; text-align: center; }
.preview-slide-wrap .preview-slide .slick-dots > li { display: inline-block; width: 8px; height: 8px; margin: 0 2px; background: #e6e6e6; border-radius: 20px; }
.preview-slide-wrap .preview-slide .slick-dots > li button { border: 0; text-indent: -9999px; }
.preview-slide-wrap .preview-slide .slick-dots .slick-active { background: #ff6200; }

.operate-time table th { padding: 7px 0; border-top: 2px solid #f08200; }
.operate-time table th:first-child { border-right: 5px solid #fff; }
.operate-time table td { padding: 7px 0; border-bottom: 1px solid #dedacf; }
.operate-time table td:first-child { border-right: 5px solid #fff; }
.operate-time table tr:first-child td { border-top: 1px solid #bdb5a0; }
.operate-time table tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.operate-time table.use-pay td:first-child { border-right: 0; }
.operate-time table.use-pay td[rowspan="2"] { border-right: 1px solid #dedacf; }
.operate-time .attention { margin-top: 12px; font-size: 1em; }
.operate-time .attention li { display: table; margin-top: 2px; }
.operate-time .attention li:before { content: "*"; display: inline-block; padding-right: 7px; color: #f29322; }
.operate-time .attention li em { display: table-cell; padding-right: 7px; white-space: nowrap; color: #f29322; font-weight: bold; }
.operate-time .attention li .text { display: table-cell; }

.prefer-infor { padding: 0 4.2%; font-size: 1.1em; }
.prefer-infor h4 { font-weight: bold; font-size: 1.3em; color: #f08200; }
.prefer-infor ul { margin: 3px 0 16px; }
.prefer-infor ul li { margin-top: 2px; font-size: 1em; }
.prefer-infor ul li:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }
.prefer-infor p { margin: 3px 0 16px; }
.prefer-infor p:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }

.contents h4 { font-size: 1.7em; }
.contents h5 { font-size: 1.3em; }
.contents table { width: 100%; }
.contents table th { font-size: 1.2em; }
.contents table td { text-align: center; }

.detail-member .mem-benefit h4 { margin-bottom: 15px; }
.detail-member .mem-price h4 { margin: 27px 0 12px; }
.detail-member .mem-price table th { padding: 7px 0; border-top: 2px solid #f08200; border-left: 5px solid #fff; }
.detail-member .mem-price table th:first-child { border-left: 0; }
.detail-member .mem-price table td { padding: 7px 0; border-bottom: 1px solid #dedacf; border-left: 5px solid #fff; }
.detail-member .mem-price table td:first-child { border-left: 0 solid #fff; }
.detail-member .mem-price table tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.detail-member .join-method h5 { margin: 13px 0 7px; color: #f08200; }
.detail-member .join-method li { font-size: 1em; }
.detail-member .join-method li:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }
.detail-member .join-method .down-link { display: block; width: 100%; margin: 15px 0 35px; }
.detail-member .join-method .down-link a { display: inline-block; float: left; width: 33.3%; }
.detail-member .join-method .down-link:after { content: ""; display: block; clear: both; }
.detail-member .note h5 { margin: 13px 0 7px; color: #f08200; }
.detail-member .note li { font-size: 1em; }
.detail-member .note li:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }

.traffic .map { display: block; margin: 12px 0 25px; }
.traffic h4:first-child { margin-bottom: 5px; }
.traffic h4 { margin-bottom: 11px; }
.traffic h4 + p { margin-bottom: 20px; }
.traffic h5 { margin: 13px 0 7px; color: #f08200; }
.traffic table.bus-time { margin-top: 20px; }
.traffic table.bus-time th { padding: 7px 0; border-top: 2px solid #f08200; }
.traffic table.bus-time th:first-child { border-right: 5px solid #fff; }
.traffic table.bus-time td { padding: 7px 0; border-bottom: 1px solid #dedacf; }
.traffic table.bus-time td:first-child { border-right: 5px solid #fff; }
.traffic table.bus-time tr:first-child td { border-top: 1px solid #bdb5a0; }
.traffic table.bus-time tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.traffic table.bus-use td { text-align: left; border-bottom: 1px solid #dedacf; font-size: inherit; }
.traffic table.bus-use td strong { font-size: 1.1em; }
.traffic table.bus-use td:first-child { text-align: center; }
.traffic table.bus-use tr:first-child td { border-top: 2px solid #f08200; }
.traffic table.bus-use tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.traffic ul.bus-time-list { margin: 11px 0 31px; }
.traffic ul.bus-time-list li { font-size: 1em; }
.traffic ul.bus-time-list li:before { content: "*"; display: inline-block; padding-right: 7px; color: #f29322; }
.traffic .bus-use-list { margin: 17px 0; }
.traffic .bus-use-list ul { margin-top: 4px; font-size: 1em; }
.traffic .icon { display: inline-block; width: 33px; height: 38px; background: url("/mobile/images/information/sprite-info.png") no-repeat 0 0; background-size: 250px 250px; }
.traffic .bus_icon01 { background-position: -5px -103px; }
.traffic .bus_icon02 { background-position: -48px -103px; }
.traffic .bus_icon03 { height: 32px; background-position: -91px -103px; }
.traffic .bus_icon04 { height: 32px; background-position: -134px -103px; }
.traffic .bus-num { font-size: 1.2em; color: #f08200; }
.traffic .text_icon_cir { display: inline-block; margin-top: 3px; }
.traffic .text_icon_cir:before { content: ""; display: inline-block; width: 5px; height: 5px; margin-right: 3px; background: url("/mobile/images/common/sprite.png") no-repeat -129px -263px; background-size: 300px 500px; }
.traffic .text_icon_tri { display: inline-block; margin-top: 3px; }
.traffic .text_icon_tri:before { content: ""; display: inline-block; width: 5px; height: 5px; margin-right: 3px; background: url("/mobile/images/common/sprite.png") no-repeat -143px -263px; background-size: 300px 500px; }
.traffic .road-sign { display: block; margin: 14px 0 38px; }
.traffic .road-sign:before { content: "*"; display: inline-block; color: #f29322; }
.traffic .parking { padding: 15px 0; border-top: 2px solid #f08200; border-bottom: 1px solid #bdb5a0; }
.traffic .parking .icon_p { float: left; display: block; width: 56px; height: 56px; background: url("/mobile/images/information/sprite-info.png") no-repeat 0 0; background-size: 250px 250px; }
.traffic .parking section { float: left; margin-left: 20px; }
.traffic .parking section h4 { display: block; margin: 3px 0; font-size: 1.75em; font-weight: normal; }
.traffic .parking section li { font-size: 1.1em; }
.traffic .parking section li:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }
.traffic .parking:after { content: ""; display: block; clear: both; }

.conven-infor h4 { margin-bottom: 6px; }
.conven-infor tr:first-child td { border-top: 2px solid #f08200; }
.conven-infor tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.conven-infor td { padding: 18px 0; border-bottom: 1px solid #dedacf; }
.conven-infor td div { text-align: left; padding-left: 3.5%; }
.conven-infor td .icon { display: inline-block; text-align: center; width: 42px; height: 44px; background: url("/mobile/images/information/sprite-info.png") no-repeat; background-size: 250px 250px; }
.conven-infor td .icon-01 { background-position: -56px 0; }
.conven-infor td .icon-02 { background-position: -104px 0; }
.conven-infor td .icon-03 { background-position: -151px 0; }
.conven-infor td .icon-04 { background-position: -198px 0; }
.conven-infor td .icon-05 { background-position: 0 -62px; }
.conven-infor td .icon-06 { background-position: -47px -62px; }
.conven-infor li:before { content: "·"; display: inline-block; padding-right: 3px; color: #766341; }

.board-list tr:first-child td { border-top: 2px solid #f08200; }
.board-list tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.board-list td { padding: 13px 0; border-bottom: 1px solid #dedacf; }
.board-list .icon { display: block; width: 25px; height: 15px; margin-top: -15px; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; }
.board-list .guide_icon { background-position: -154px 0; }
.board-list .discount_icon { background-position: -189px 0; }
.board-list div { text-align: left; }
.board-list div h4 { font-size: 1.15em; margin-bottom: 5px; }
.board-list div .date { color: #999; }

.board-view article { border-top: 2px solid #f08200; border-bottom: 1px solid #bdb5a0; }
.board-view article h4 { padding: 14px 0; }
.board-view article .date-wrap { display: block; padding: 8px 0; border-bottom: 1px solid #dedacf; }
.board-view article .content { padding: 24px 0; }
.board-view .btns { display: block; margin-top: 14px; }
.board-view .btns .btn { display: block; float: left; width: 40px; height: 40px; text-indent: -9999px; box-sizing: border-box; background: url("/mobile/images/common/sprite.png") no-repeat; background-size: 300px 500px; }
.board-view .btns .prev-btn { margin-right: 7px; background-position: -168px -258px; }
.board-view .btns .next-btn { background-position: -213px -258px; }
.board-view .btns .list-btn { float: right; text-indent: inherit; text-align: center; background: #fff; border: 1px solid #bdb5a0; font-size: 1.25em; line-height: 3.2em; }

.main-tab.map .tabMenu { margin-bottom: 10px; }
.main-tab.map article img { width: 100%; }
.main-tab.map article .caption { margin-bottom: 21px; }
.main-tab.map article section { margin-top: 27px; }
.main-tab.map article section h4 { text-align: left; padding: 7px 0 4px; font-size: 1.5em; color: #f08200; }
.main-tab.map article section p { text-align: left; font-size: 1.1em; }
.main-tab.map article h4 { text-align: left; padding: 16px 0 9px; font-size: 1.5em; color: #f08200; }
.main-tab.map article .market-menu li { float: left; width: 47.75%; }
.main-tab.map article .market-menu li:nth-child(2n+2) { float: right; }
.main-tab.map article .market-menu .caption { text-align: left; margin-bottom: 23px; }
.main-tab.map article .market-menu .caption span { display: block; margin: 10px 0 3px; font-size: 1em; }
.main-tab.map article .market-menu .caption em { display: block; font-size: 1.2em; }

.promotion-list tr:first-child td { border-top: 2px solid #f08200; }
.promotion-list tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.promotion-list td { padding: 15px 0; border-bottom: 1px solid #dedacf; }
.promotion-list div { text-align: left; }
.promotion-list div .text { font-size: 1.2em; }
.promotion-list div h4 { font-size: 1.8em; }
.promotion-list .icon { display: inline-block; background: url("/mobile/images/information/discount/sprite-discount.png") no-repeat; background-size: 250px 250px; }
.promotion-list .icon_discount_33 { width: 43px; height: 43px; background-position: -5px -5px; }
.promotion-list .icon_discount_max33 { width: 43px; height: 43px; background-position: -52px -5px; }
.promotion-list .icon_discount_max50 { width: 43px; height: 43px; background-position: -100px -5px; }
.promotion-list .icon_discount_about26 { width: 43px; height: 43px; background-position: -147px -5px; }
.promotion-list .icon_more { width: 24px; height: 24px; background-position: -195px -14px; text-indent: -9999px; }

.credit_card h4 { margin: 28px 0 13px; }
.credit_card select { width: 97%; height: 30px; font-size: 1.1em; background: url("/mobile/images/common/select_icon.png") right center no-repeat; background-size: 8px 7px; }
.credit_card .card_company { display: inline-block; width: 33.5%; height: 30px; border: 1px solid #bdb5a0; }
.credit_card .card_name { display: inline-block; float: right; width: 63.8%; height: 30px; border: 1px solid #bdb5a0; }
.credit_card table { margin-top: 24px; }
.credit_card table th { text-align: left; padding: 5px 0 12px; vertical-align: top; border-top: 1px solid #bdb5a0; }
.credit_card table td { text-align: left; padding: 5px 0 12px 4.5%; vertical-align: top; font-size: 1.1em; }
.credit_card table tr:first-child th { border-top: 2px solid #f08200; }

.coupon-view .coupon-title { margin-bottom: 13px; }
.coupon-view .coupon-title em { font-size: 1.3em; color: #f08200; }
.coupon-view .coupon-title .text { display: inline-block; padding-left: 12px; font-size: 1.2em; letter-spacing: -1px; }
.coupon-view .coupon img { width: 100%; }
.coupon-view .coupon_bottom_bg { display: block; width: 100%; height: 9px; background: url("/mobile/images/information/discount/coupon_top-bg.png") no-repeat; background-size: 100% 100%; }
.coupon-view dl { overflow: hidden; padding: 5px 6.3%; border: 1px solid #bdb5a0; }
.coupon-view dl dt { float: left; clear: both; width: 35.5%; padding: 8px 0; border-top: 1px solid #dedacf; }
.coupon-view dl dt:before { content: ""; display: block; float: left; width: 5px; height: 5px; margin: 3px 3% 0 0; background: url("/mobile/images/common/sprite.png") -262px -275px no-repeat; background-size: 300px 500px; }
.coupon-view dl dd { float: left; width: 64.5%; padding: 8px 0; border-top: 1px solid #dedacf; }
.coupon-view dl dt:first-child { border: 0; }
.coupon-view dl dt:first-child + dd { border: 0; }
.coupon-view h4 { margin: 30px 0 11px; }
.coupon-view table tr:first-child th { border-top: 2px solid #f08200; border-bottom: 1px solid #dedacf; border-left: 5px solid #fff; }
.coupon-view table tr:first-child th:first-child { border-left: 0; }
.coupon-view table tr:last-child td { border-bottom: 1px solid #bdb5a0; }
.coupon-view table th { padding: 8px 0; }
.coupon-view table td { padding: 8px 0; border-top: 1px solid #dedacf; border-left: 5px solid #fff; font-size: 1.2em; }
.coupon-view table td:first-child { border-left: 0; }
.coupon-view table td:last-child { color: #f08200; }
.coupon-view .coupon_down_wrap { display: table; margin: 20px auto 28px; }
.coupon-view .coupon_down_wrap .coupon_down { display: table-cell; width: 68.4%; height: 36px; vertical-align: middle; text-align: center; border: 1px solid #bdb5a0; font-size: 1.3em; }
.coupon-view .coupon_down_wrap .coupon_down:after { content: ""; display: inline-block; float: right; width: 22px; height: 20px; margin-right: 10px; background: url("/mobile/images/common/sprite.png") 0px -304px no-repeat; background-size: 300px 500px; }
.coupon-view li { margin-top: 4px; font-size: 1.2em; }
.coupon-view li:before { content: "*"; display: table-cell; padding-right: 2px; color: #f29322; }
.coupon-view li .text { display: table-cell; }

.folk .photo-img { display: block; margin: 21px 0; }
.folk .photo-img img { width: 100%; }
.folk .text01 { font-size: 1.1em; line-height: 1.5em; }

.folk-tab { overflow: hidden; position: relative; margin-top: 16px; }
.folk-tab .tabMenu { overflow: hidden; position: relative; width: 100%; margin-bottom: 20px; }
.folk-tab .tabMenu li { float: left; width: 25%; margin-left: -1px; text-align: center; background-size: cover; background-repeat: no-repeat; background-position: left center; box-sizing: border-box; }
.folk-tab .tabMenu li a { display: block; }
.folk-tab .tabMenu li:first-child { margin-left: 0; background-position: right center; }
.folk-tab .tabMenu li.on { position: relative; }
.folk-tab .tabMenu .menu1 { background-image: url("/mobile/images/folkvillage/display/tab-title01.png"); }
.folk-tab .tabMenu .menu1.on { background-image: url("/mobile/images/folkvillage/display/tab-title01_on.png"); }
.folk-tab .tabMenu .menu2 { background-image: url("/mobile/images/folkvillage/display/tab-title02.png"); }
.folk-tab .tabMenu .menu2.on { background-image: url("/mobile/images/folkvillage/display/tab-title02_on.png"); }
.folk-tab .tabMenu .menu3 { background-image: url("/mobile/images/folkvillage/display/tab-title03.png"); }
.folk-tab .tabMenu .menu3.on { background-image: url("/mobile/images/folkvillage/display/tab-title03_on.png"); }
.folk-tab .tabMenu .menu4 { background-image: url("/mobile/images/folkvillage/display/tab-title04.png"); }
.folk-tab .tabMenu .menu4.on { background-image: url("/mobile/images/folkvillage/display/tab-title04_on.png"); }
.folk-tab .tab-content { clear: both; margin-bottom: 15px; }
.folk-tab .tab-content .swiper-slide { text-align: center; }
.folk-tab .tab-content .swiper-button-prev { margin-top: -21px; background-position: 0 -93px; }
.folk-tab .tab-content .swiper-button-next { margin-top: -21px; background-position: -37px -93px; }
.folk-tab .tabMenu2, .folk-tab .tabMenu3, .folk-tab .tabMenu4 { display: none; }
.folk-tab .photo-img { display: block; margin: 21px 0; }
.folk-tab .photo-img img { width: 100%; }
.folk-tab .text01 { font-size: 1.1em; line-height: 1.5em; }
.folk-tab .photo-img.map { position: relative; }
.folk-tab .photo-img.map .map-btn { display: block; position: absolute; right: -2px; bottom: -2px; width: 43px; height: 43px; background: url("/mobile/images/common/sprite.png") -26px -298px no-repeat; background-size: 300px 500px; text-indent: -9999px; }
.folk-tab h4 { margin: 18px 0 10px; }
.folk-tab table td { text-align: left; padding: 8px 0; }
.folk-tab table tr:first-child { border-top: 2px solid #f08200; }
.folk-tab table tr { border-top: 1px solid #dedacf; }
.folk-tab table tr:last-child { border-bottom: 1px solid #bdb5a0; }
.folk-tab section { padding-bottom: 18px; border-bottom: 1px solid #bdb5a0; }
.folk-tab section h4 { padding: 10px 0; border-top: 2px solid #f08200; border-bottom: 1px solid #bdb5a0; }
.folk-tab section p { padding: 13px 0; font-size: 1.2em; }
.folk-tab section .text02 { font-size: 1.1em; }
.folk-tab section .text02:before { content: "유료"; display: inline-block; margin-right: 8px; padding: 3px 5px; border: 1px solid #f08200; color: #f08200; }

.popup_wrap { visibility: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; }
.popup_wrap .pop { position: absolute; top: 0; left: 0; width: 92%; }
.popup_wrap .pop img { width: 100%; }
.popup_wrap .popup_close-btn { display: block; position: absolute; right: 0; width: 35px; height: 35px; background: url("/mobile/images/common/popup_close.gif") no-repeat; background-size: cover; text-indent: -9999px; }
.popup_wrap .dim-bg { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.single-items .slick-track { left: 0 !important; padding: 1px 0; }

.single-items .slick-track a:first-child { border-left: 0; }

.single-items .slick-track a { border-left: 1px solid #bdb5a0 !important; margin: -2px !important; }

/*# sourceMappingURL=index.css.map */
